body {
    font-family: Arial, sans-serif;
    padding-top: 56px;
  }
  
  h1 {
    text-align: center; 
  }
  
  h2 {
    color: #380694;
  }
  
  p {
    line-height: 1.5;
  }
  
  .texto-español {
    font-weight: bold;
    color: black;
  }
  
  .texto-mapuzugun {
   color: #80461b;
    font-style: italic;
  }
  
  .texto-aymara {
    color: #3f3f3f;
  }

  .literatura{
    margin: 5vh 2vw 3vh 2vw;
  }

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

th {
  background-color: #f2f2f2;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container button {
  flex: 1 0 auto;
  margin: 5px;
}

@media (max-width: 600px) {
  .button-container button {
    flex-basis: 100%;
  }
}

.arreglo{
  padding-top: 56px;
  margin-top: -56px;
}

.photo-gallery {
  color:#313437;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.img-fluid{
  border-radius: 8px;
}