body {
    font-family: Arial, sans-serif;
    padding-top: 56px;
  }
  
  h1 {
    text-align: center; 
  }
  
  h2 {
    color: #380694;
  }
  
  p {
    line-height: 1.5;
  }
  
  .texto-español {
    font-weight: bold;
    color: black;
  }
  
  .texto-mapuzugun {
   color: #80461b;
    font-style: italic;
  }
  
  .texto-aymara {
    color: #3f3f3f;
  }

  .literatura{
    margin: 5vh 2vw 3vh 2vw;
  }

  /*===========================
  card-01 css
===========================*/
.single-card {
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-card:hover {
  box-shadow: var(--shadow-4);
}
.single-card .card-image img {
  width: 100%;
  height: 100%;
}
.single-card .card-content {
  padding: 16px;
}
.single-card .card-content .card-title {
  margin-bottom: 0;
}
.single-card .card-content .card-title a {
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-card .card-content .card-title a:hover {
  color: var(--primary);
}
.single-card .card-content .text {
  color: var(--dark-3);
  margin-top: 8px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

th {
  background-color: #f2f2f2;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container button {
  flex: 1 0 auto;
  margin: 5px;
}

@media (max-width: 600px) {
  .button-container button {
    flex-basis: 100%;
  }
}

.arreglo{
  padding-top: 56px;
  margin-top: -56px;
}
