body {
    padding-top: 56px;
}

.container1{
    padding: 20px;
    background-color: #0A092B;
    color: white;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.176px;
}

.container2{
    padding: 20px;
    background-color:#44A9D2;
}

.pkallfu{
    color: blue;
  font-weight: bold;
}

.heroHeader-title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.14px;
    color: white;
}

.container3{
    padding: 20px;
    background-color:#44A9D2;
    text-align: center;
}

.parrafo-video{
    text-align: left;
    font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
    font-size: 19px;
    line-height: 26.6px;
    letter-spacing: normal;
    background-color:#343A40;
    color: white;
    padding: 10px;
    border-radius: 10px; 
}

.embed-responsive-item{
    border-radius: 10px;
}
