body {
    padding-top: 56px;
}

.container1{
    padding: 20px;
    background-color: #0A092B;
    color: white;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.176px;
}

.container2{
    padding: 20px;
    background-color:#44A9D2;
}

.pkallfu{
    color: blue;
  font-weight: bold;
}

.heroHeader-title{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.14px;
    color: white;
}

.container3{
    padding: 20px;
    background-color:#44A9D2;
    text-align: center;
}

.parrafo-video{
    text-align: left;
    font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
    font-size: 19px;
    line-height: 26.6px;
    letter-spacing: normal;
    background-color:#343A40;
    color: white;
    padding: 10px;
    border-radius: 10px; 
}

.embed-responsive-item{
    border-radius: 10px;
}

/* audio card */

#mobile-box {
  width: 360px;
}

.card {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 a {
  color: #0d47a1;
}

.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#pButton {
  margin-top: 12px;
  cursor: pointer;
}

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer;
}

.row > div[class^="col-"] {
    padding: 1rem;
  }